html {
  scroll-behavior: smooth;
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //Добавляем для того, чтобы рамка в 1px у body, #container входила в размер ширины данного блока
}

body {
margin: 0;
padding: 0;
//min-width: 32rem;
min-height: 100vh;
font-family: 'Involve', sans-serif;
//font-size: 18px;
overflow-x: hidden;
background: $color-white;
}

body > * {
  flex-shrink: 0; /* sticky footer */
  box-sizing: border-box;
}
/* Grid styles */

ul {
margin: 0;
padding: 0;
list-style: none;
}

img {
object-fit: cover;
}



/* Utility */

.none {
display: none !important;
}


@keyframes fade-in {
  0% { opacity: 0; }   100% { opacity: 1; }
}
.wrapper {
  max-width: 144rem;
  margin: 0 auto;
  //*tablet 
  @media screen and (max-width: 1439px) {
    max-width: 143.9rem;
  }
   //*tablet 
   @media screen and (max-width: 1399px) {
    max-width: 139.9rem;
  }
  //*tablet big
  @media screen and (max-width: 1199px) {
    max-width: 119.9rem;
  }
  //*tablet small
  @media screen and (max-width: 991px) {
    max-width: 99.1rem;
  }
  //*mobile big
  @media screen and (max-width: 767px) {
    max-width: 76.7rem;
  }
  //*mobile
  @media screen and (max-width: 575px) {
    max-width: 57.5rem;
  }
  //*mobile xs
  @media screen and (max-width: 430px) {
    max-width: 43rem;
     }
  //*mobile xxs
  @media screen and (max-width: 379px) {
    max-width: 37.9rem;
  }
}
.container {
 width: 1350px;
 //background: greenyellow;
  margin: 0 auto;
   //*tablet
   @media screen and (max-width: 1399px) {
    max-width: 126.3rem;
   
  }
  //*tablet small
  @media screen and (max-width: 991px) {
  
    max-width: 97.5rem;
  }
}
  .title-1 {
    font-family: 'Involve', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    text-align: left;
    color:$color-purple;
    margin-bottom: 8px;
  }
  .title-2 {
    font-family: 'Involve', sans-serif;
    color:$color-purple;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;//*mobile xs
    text-transform: uppercase;
  }

  .title-3 {
    font-family: 'NK133';
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color:$color-dark;
  }

  .title-4 {
    font-family: 'Involve', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 23.94px;
    text-align: left;
    color:$color-purple;
}
  //animations
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  .fadeIn {
    animation: fadeIn 1s ease-in-out;
}
  @keyframes textUp {
    0% {
      transform: translateY(100px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slideLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0; /* Уменьшаем прозрачность при сдвиге */
    }
}

.color-purple {
  color:$color-purple;
}



