@charset "UTF-8";
@font-face {
     font-family: 'Involve', sans-serif;
     src: url('/public/fonts/Involve/Involve-SemiBold.ttf') format('ttf');
     src: url('/public/fonts/Involve/Involve-SemiBold.woff') format('woff');
}

@font-face {
     font-family: 'NK133';
     src: url('/public/fonts/NK133/nk133.ttf') format('ttff');
     src: url('/public/fonts/NK133/nk133.woff') format('woff');
}

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/typography';
@import 'base/reset';


@import 'components/buttons';
@import 'components/bayan';
@import 'components/forms';


@import 'layers/header';
@import 'layers/footer';

@import 'pages/section-description';
@import 'pages/section-custom';
@import 'pages/section-products';
@import 'pages/section-advantages';
@import 'pages/section-cooperation';
@import 'pages/section-sale';

@import 'pages/section-benefit';
@import 'pages/section-questions';
@import 'pages/section-shipment';
@import 'pages/section-contacts';







