.section-questions {
    padding: 75.5px 0 69px;
}
.questions-cards {
    display: flex;
    column-gap: 22px;
    margin-bottom: 108.5px;
}
.question-card {
    width: 321px;
    height: 295px;
    & img {
        width: 321px;
        height: 295px;
    }
}
.questions-content {
    display: flex;
    column-gap: 45px;
}

