.section-contacts {
    position: relative;
    padding-top: 64.5px;
    
}

.element-image {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);

}
.contacts {
    padding: 140px 222px 88px 130px;
    display: flex;
    justify-content: space-between;
    background: $color-beige;
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
}
.contacts-content {
    .title-3 {
        margin-bottom: 16px;
        text-align: left;
    }
}

.box-list {
}
.box-item {
}
.arrow-right {
}
.contact-link {
}
.contacts-image {
}
.contact-img {
    width: 619px;
    height: 259px;
    border-radius: 36px;
}