.card {
}
.card-row {
    display: flex;
    column-gap: 33px;
}
.card-images {
}
.card-image {
    margin-bottom: 15px;
}
.card-image img {
    width: 581px;
    height: 451px;
    border-radius: 33px;
}
.card-image_wrapper {
    display: flex;
    column-gap: 15px;
}

.card-image_wrapper .card-image img {
    width: 185px;
    height: 103px;
    border-radius: 33px;
}
.card-description {
    & .title-3 {
        font-family: 'Involve', sans-serif;
        color:$color-purple;
    }
}
.card-title {
}
.card-box {
    display: flex;
    column-gap: 24px;
    margin-bottom: 12px;
}
.card-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 43px;
    background: url(/public/img/card/bg-element.png) no-repeat center;
    background-size: contain;
    color:$color-purple;

    font-size: 18px;
    font-family: Involve, sans-serif;
    font-weight: 600;
}


.menu-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 274px;
    height: 34px;
    background: url(/public/img/card/bg-element1.png) no-repeat center;
    background-size: contain;
    color:$color-white;

   font-size: 18px;
   font-family: Involve, sans-serif;
   font-weight: 600;
}

.color-wrapper {
    //display: none;
    background: #692F6C;
}
.card-list {
}
.card-item {
    display: flex;
    justify-content: space-between
}
.item-name {
    position: relative;
    display: block;
    font-size: 18px;
    font-family: Involve, sans-serif;
    font-weight: 600;
    color:$color-dark-light;
    width: 357px;
    text-align: left;
}

.card-item .item-name::before {
    content: "";
    position: absolute;
    bottom: 12px;
    right: 0;
    background: $color-dark-light;
    width: 70%;
    height: 1px;
}

.card-list .card-item:nth-child(2) .item-name::before {
    width: 87%;
}
.card-list .card-item:nth-child(3) .item-name::before {
    width: 82%;
}

.card-list .card-item:nth-child(4) .item-name::before {
    width: 78%;
}

.card-list .card-item:nth-child(5) .item-name::before {
    width: 42%;
}


.card-list .card-item:nth-child(6) .item-name::before {
    width: 72%;
}
.item-name:nth-of-type(3)::before {
    width: 78%;
}
.item-mean {
}
.box-size {
    display: flex;
    display: none;
}
.card-buttons {
    display: flex;
    column-gap: 10px;
    margin-bottom: 19px;
}
.card-btn1{
    width: 324px;
    height: 54px;
    padding: 30px;
    border-radius: 90px;
    border: 2px #692F6C solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: #692F6C;
    font-size: 14px;
    font-family: Involve, sans-serif;
    font-weight: 600;
    background: $color-white;
    cursor: pointer;
} 

.card-btn2 {
   width: 326px;
   height: 54px;
   padding: 30px;
   background: #692F6C;
   border-radius: 90px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   display: inline-flex;

   color: white;
   font-size: 14px;
   font-family: Involve, sans-serif;
   font-weight: 600;
   cursor: pointer;
} 

.card-content__wrapper {
    height: 88.62px;
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #FCF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}
.card-content {
    display: flex;
    column-gap: 6px;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
        background: #FFF4E8;
    }
    &:active {
        background: #FFF4E8; 
    }
}
.content-icon {
    width: 55px;
    height: 45px;
}
.card-text {
    font-size: 14px;
    font-family: Involve, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    color:$color-dark;
}

.item-mean {
    background: red;
    font-size: 18px;
    color:$color-purple;
}