.section-card .product-card {
    
}

.card-row {
    display: flex;
    column-gap: 33px;
    justify-content: space-between;
}
.wrapper-card {
    position: relative;
}
.card {
    padding: 37px 90px;
    position: relative;
}
.card-image {
    margin-bottom: 15px;
}
.card-image img {
    width: 581px;
    height: 451px;
    border-radius: 33px;
}
.card-image_wrapper {
    display: flex;
    column-gap: 15px;
}
.card-image_wrapper .card-image img {
    width: 185px;
    height: 103px;
    border-radius: 33px;
}
.card-description {
    & .title-3 {
        font-family: 'Involve', sans-serif;
        color:$color-purple;
        margin-bottom: 19px;
    }
}
.card-box {
    display: flex;
    column-gap: 24px;
    margin-bottom: 12px;
}
.card-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 357px;
    height: 43px;
    background: url(/public/img/card/bg-element.png) no-repeat center;
    background-size: contain;
    color:$color-purple;

    font-size: 18px;
    font-family: Involve, sans-serif;
    font-weight: 600;
}
.menu-color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 274px;
    height: 34px;
    background: url(../../../public/img/card/bg-element1.png) no-repeat center;
    background-size: contain;
    color:$color-white;
    cursor: pointer;

    font-size: 18px;
    font-family: Involve, sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.card-list {
    position: relative;
    margin-bottom: 20px;
}
.card-item {
    display: flex;
    column-gap: 24px;
    margin-bottom: 12px;
    //justify-content: space-between
}
.item-name {
    position: relative;
    display: block;
    font-size: 18px;
    font-family: Involve, sans-serif;
    font-weight: 600;
    color:$color-dark-light;
    width: 357px;
    text-align: left;
}
.card-item .item-name::before {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 0;
    background: $color-dark-light;
    width: 70%;
    height: 1px;
}
.card-list .card-item:nth-child(6)  .item-name {
    width: 50px;
    &::before {
        width: 107.89px;
        right: -310px;
    }
}
.card-list .card-item:nth-child(2) .item-name::before {
    width: 87%;
}
.card-list .card-item:nth-child(3) .item-name::before {
    width: 82%;
}
.card-list .card-item:nth-child(4) .item-name::before {
    width: 78%;
}
.card-list .card-item:nth-child(5) .item-name::before {
    width: 42%;
}
.card-list .card-item:nth-child(6)  {
    justify-content: flex-start;
    width: 300px;
    //background: #692F6C;
    & .item-name {
        width:40px;
    }
}
.card-list .card-item:nth-child(6) .item-name::before {
    width: 0;
}
.item-name:nth-of-type(3)::before {
    width: 78%;
}
.box-size {
    display: flex;
    display: none;
}
.card-buttons {
    display: flex;
    column-gap: 10px;
    margin-bottom: 19px;
}
.card-btn1{
    width: 324px;
    height: 54px;
    padding: 30px;
    border-radius: 90px;
    border: 2px #692F6C solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    color: #692F6C;
    font-size: 14px;
    font-family: Involve, sans-serif;
    font-weight: 600;
    background: $color-white;
    cursor: pointer;
}

.card-btn2 {
   width: 326px;
   height: 54px;
   padding: 30px;
   background: #692F6C;
   border-radius: 90px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   display: inline-flex;

   color: white;
   font-size: 14px;
   font-family: Involve, sans-serif;
   font-weight: 600;
   cursor: pointer;
}

.card-content__wrapper {
    height: 88.62px;
    padding-left: 51px;
    padding-right: 51px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #FCF7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}
.card-content {
    display: flex;
    column-gap: 6px;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
        background: #FFF4E8;
    }
    &:active {
        background: #FFF4E8; 
    }
}
.content-icon {
    width: 55px;
    height: 45px;
}
.card-text {
    font-size: 14px;
    font-family: Involve, sans-serif;
    font-weight: 600;
    word-wrap: break-word;
    color:$color-dark;
}

.item-mean {
    font-size: 18px;
    color:$color-purple;
}

.color-wrapper {
   position: absolute;
   top:35px;
   left: 20px;
   width: 243px;
   height: 230px;
   padding: 14px 18px 22px 18px;
   background: #FCF7F7;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-bottom-left-radius: 22px;
   border-bottom-right-radius: 22px;
   display: none;
   z-index: 10;
}
.menu-color:hover {
    & .color-wrapper {
        display: block;
    }
}

/* Hide the default checkbox */
.input-color[type="radio"] {
    display: none;
}

.custom-color {
    display: flex;
    justify-content: space-between;
    color:$color-dark;
    font-size: 18px;
    font-family: 'Involve', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.icon-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.icon-img {
    display: block;
    width: 24px;
    height: 24px;
    background: rgb(239, 161, 135);
}

/* Show the image when the radio button is checked */
.input-color[type="radio"]:checked .icon-img {
    background: url("../../../public/img/icons/icon-check.svg") no-repeat center;
    display: block;
}

.card-subtitle {
    font-family: 'Involve', sans-serif;
    font-size: 18px;
    color: rgba(83, 69, 50, 0.56);
    margin-bottom: 10px;
}
.card-data {
   color:$color-dark;
   font-size: 18px;
   font-family: 'Involve', sans-serif;
   font-weight: 500;
   margin-bottom: 57px;
}
.view-cards {
    display: flex;
    column-gap: 12px;
    flex-wrap: wrap;
    height: 400px;
    background: red;
}
