//form for questions

.questions-form .input {
    margin-bottom: 8px;
}

input::placeholder {
    font-family: Involve, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.62px;
    text-align: left;
    color: $color-purple;/* Задайте желаемый цвет текста плейсхолдера здесь */
}
.questions-form {
    padding: 49px 36px 60px 40px;
    width: 599px;
    height: 702px;
    border-radius: 65px;
    box-shadow: 0px -12px 86.5px #F5E0C7;
}
.questions-form .input {
    border: 1px solid $color-purple;
}
textarea {
    width: 523px;
    height: 132px;
    padding: 21px;
    border-radius: 33px;
    border: 1px solid $color-purple;
    font-family: Involve, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.62px;
    text-align: left;
    color:$color-dark;
}

textarea::placeholder {
    color:$color-purple;
}

/* Hide the default checkbox */
.input-custom[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid $color-purple;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
  
  /* Style the custom checkbox icon */
  .input-custom[type="checkbox"]:checked {
    background: url(/public/img/icons/icon-check.svg) no-repeat center;
  }
  .custom-all {
  
  }
.custom-all[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border:2px solid $color-purple;
    outline: none;
    cursor: pointer;
  }

  /* Style the custom checkbox icon */
  .custom-all[type="checkbox"]:checked {
    background: $color-purple url(../../../public/img/icons/custom-all.png) no-repeat center;
}

.input-box {
    margin: 16px auto 0;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
}
.text-all {
    font-family: Involve, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.62px;
}
//form-order for window-order

.order-form__wrapper {
    width: 779px;
    margin: 0 auto;
}
.order-form {
}
.input-boxes {
}
.input {
}
.input-box {
}
.input-custom {
}
.checkbox-text {
}
.btn-wrapper {
}
.btn-submit {
}
.btn-arrow {
}
