//form for questions
.questions-form {
    padding: 49px 11px 60px 40px;
}

.questions-form .input {
    margin-bottom: 8px;
}

input::placeholder {
    font-family: Involve, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.62px;
    text-align: left;
    color: $color-purple;/* Задайте желаемый цвет текста плейсхолдера здесь */
}
.question-form {
    padding: 49px 36px 60px 40px;
    width: 599px;
    height: 702px;
    border-radius: 65px;
}
.questions-form .input {
    border: 1px solid $color-purple;
}
textarea {
    width: 523px;
    height: 132px;
    padding: 21px;
    border-radius: 33px;
    border: 1px solid $color-purple;
    font-family: Involve, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.62px;
    text-align: left;
    color:$color-dark;
}

textarea::placeholder {
    color:$color-purple;
}

/* Hide the default checkbox */
.input-custom[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid $color-purple;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
  
  /* Style the custom checkbox icon */
  .input-custom[type="checkbox"]:checked {
    background: url(/public/img/icons/icon-check.svg) no-repeat center;
  }

  .input-box {
    margin: 16px auto 10px;
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
  }
  .input-custom {
   
  }
.checkbox-text {
   
}
.questions-custom {
}
.btn-wrapper {
}
.btn-submit {
}
.btn-arrow {
}