.slider {
    width: 577px;
    position: relative;
   
   
}
.slider-wrapper {
    width: 577px; /* Увеличиваем ширину на отступ */
    overflow: hidden;
   
}
.slider-line {
    position: relative;
    width: 1731px;
    display: flex;
    left: 0;
    transition: all ease-in 1s;
}
.slider-img {
    width: 577px;
    height: 385px;
    flex-shrink: 0; /* Не позволяет изображениям уменьшаться */
    object-fit: cover;
}

.dots, .dots2, .dots3  {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot, .dot2, .dot3 {
    display: block;
    height: 19px;
    width: 19px;
    margin: 0 5px;
   
    border-radius: 50%;
    border: 6px solid $color-dark;
    cursor: pointer;
}
.active-dot {
    border: 6px solid $color-purple;
}