


//window-delivery
.window-delivery {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 76px 120px 93px 120px;
    display: flex;
    height: 606px;
    width: 1200px;
    border-radius: 34px;
    justify-content: flex-start;
    gap: 51px;
    font-size: 28px;
    background: $color-white;
    display: none;
    opacity: 1;
    z-index: 2000;
}
.window-title {
    color:$color-purple;
    margin-bottom: 34px;
    text-transform: uppercase;
    & .title-4 {
         font-size: 28px;
    }
}
.window-subtitle {
    color:$color-purple;
    font-weight: 550;
}
.window-text {
    color:$color-dark;
    margin-top: 19px;
    margin-bottom: 25px;
}
.window-list {
    margin-top: 19px;
    margin-bottom: 25px;
}
.window-item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 19px;
}
.window-item:last-child {
    margin-bottom: 0;
}
.btn-close {
    display: block;
    position: absolute;
    top:10px;
    right: 30px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: url(../../../public/img/icons/icon-close.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
    z-index: 2050;
}

//window-payment
.window-payment {
    display: none;
    position: absolute;
    top:25%;
    left: 50%;
    width: 1200px;
    transform: translate(-50%, -50%);
    padding: 76px 120px 93px 120px;
    height: 448px;
    border-radius: 34px;
    overflow: hidden;
    font-size: 28px;
    z-index: 3000;
    background: $color-white;
}
.window-possibilities {
    display: none;
    position: absolute;
    top:25%;
    left: 50%;
    width: 1200px;
    transform: translate(-50%, -50%);
    display: none;
    padding: 76px 120px 93px 120px;
    height: 653px;
    border-radius: 34px;
    overflow: hidden;
    font-size: 28px;
    background: $color-white;
    z-index: 3000;
    & .window-text {
        margin-top: 5px;
        margin-bottom: 34px;
    }
}
.overlay {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:rgba(64, 37, 37, 0.8);
    z-index: 1000;
}

//window-order
.window-order {
    width: 1200px;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 76px 0;
    background: white;
    border-radius: 34px;
    overflow: hidden;
    z-index: 2010;
    display: none;
    & .window-title .title-4 {
        text-align: center;
        font-family: 'Involve', sans-serif;
        font-weight: 600;
    }
}
.order-box {
    display: flex;
    gap: 13px;
    width: 775px;
}
.input-boxes {
    display: flex;
    column-gap: 15px;
    margin-bottom: 15px;
}
.input-boxes .input {
    border: 1px solid gray;
}
.order-form textarea {
    width: 100%;
}
.order-form .btn-wrapper {
    margin: 36.5px auto 34px auto;
    width: 326px;
    cursor: pointer;
}