@charset "UTF-8";
@font-face {
  font-family: "Involve", sans-serif;
  src: url("/public/fonts/Involve/Involve-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "NK133";
  src: url("/public/fonts/NK133/nk133.ttf") format("ttff");
  src: url("/public/fonts/NK133/nk133.woff") format("woff");
}
/* Mixins */
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Involve", sans-serif;
  overflow-x: hidden;
  background: #ffffff;
}

body > * {
  flex-shrink: 0; /* sticky footer */
  box-sizing: border-box;
}

/* Grid styles */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

/* Utility */
.none {
  display: none !important;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrapper {
  max-width: 144rem;
  margin: 0 auto;
}
@media screen and (max-width: 1439px) {
  .wrapper {
    max-width: 143.9rem;
  }
}
@media screen and (max-width: 1399px) {
  .wrapper {
    max-width: 139.9rem;
  }
}
@media screen and (max-width: 1199px) {
  .wrapper {
    max-width: 119.9rem;
  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    max-width: 99.1rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 76.7rem;
  }
}
@media screen and (max-width: 575px) {
  .wrapper {
    max-width: 57.5rem;
  }
}
@media screen and (max-width: 430px) {
  .wrapper {
    max-width: 43rem;
  }
}
@media screen and (max-width: 379px) {
  .wrapper {
    max-width: 37.9rem;
  }
}

.container {
  width: 1350px;
  margin: 0 auto;
}
@media screen and (max-width: 1399px) {
  .container {
    max-width: 126.3rem;
  }
}
@media screen and (max-width: 991px) {
  .container {
    max-width: 97.5rem;
  }
}

.title-1 {
  font-family: "Involve", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  text-align: left;
  color: #692F6C;
  margin-bottom: 8px;
}

.title-2 {
  font-family: "Involve", sans-serif;
  color: #692F6C;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  text-transform: uppercase;
}

.title-3 {
  font-family: "NK133";
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  color: #423A2F;
}

.title-4 {
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-align: left;
  color: #692F6C;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 1s ease-in-out;
}

@keyframes textUp {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0; /* Уменьшаем прозрачность при сдвиге */
  }
}
.color-purple {
  color: #692F6C;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:visited {
  text-decoration: none;
  display: block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 54px;
  padding: 17.5px 0;
  background: #692F6C;
  border-radius: 90px;
  background: linear-gradient(270deg, #C568CA 15.8%, #A941AE 50%);
  transition: all 1s ease-in;
  cursor: pointer;
}
.btn-wrapper:hover {
  background: #692F6C;
}

.btn-submit {
  background: transparent;
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.btn-arrow {
  display: inline-flex;
}

.btn-social {
  width: 193px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  padding: 17.5px 23.5px;
  background: #F5E0C7;
  color: #423A2F;
  border-radius: 90px;
  align-items: center;
  cursor: pointer;
  transition: all 0.7s ease-in;
}
.btn-social:hover {
  background: #FFD9AB;
}

.social-text {
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  text-align: left;
}

.benefit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 397px;
  height: 69px;
  padding: 14px 36px;
  gap: 10px;
  border-radius: 31px;
  background: #692F6C;
  cursor: pointer;
  color: #ffffff;
  font-family: Involve, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
}
.benefit-btn:hover {
  color: #F5E0C7;
}
.benefit-btn:hover .icon-arrow {
  background: #F5E0C7;
}

.link-more {
  width: 343px;
  height: 54px;
  padding: 17.5px 118px;
  margin: 0 auto;
  display: block;
  text-align: center;
  background: #692F6C;
  border-radius: 90px;
  background: linear-gradient(270deg, #C568CA 15.8%, #A941AE 50%);
  transition: all 1s ease-in;
  color: #ffffff;
  font-family: Involve, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  cursor: pointer;
}
.link-more:hover {
  color: #ffffff;
  background: #692F6C;
}

.contact-link {
  color: #423A2F;
  cursor: pointer;
}

.icon-add {
  display: flex;
  justify-content: center;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background: url(/public/img/icons/icon-add.png) no-repeat center;
  background-size: cover;
  transition: transform 0.3s; /* Добавляем transition для плавного перехода */
}

.input-question:checked + label > .icon-add {
  transform: rotate(45deg);
}

.input-question:checked + .question {
  color: #423A2F;
}

.input-question:checked ~ .answer {
  display: block;
}

.input-question:checked ~ .question {
  background: #FFD9AB;
}

.question-box {
  width: 100%;
  cursor: pointer;
  margin: 1rem 0;
}

.question {
  padding: 19.5px 31px;
  border-radius: 12px;
  background: #F5E0C7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
}

.accordeon-text {
  display: block;
}

.input-question {
  width: 0;
  height: 0;
  position: absolute;
  appearance: none;
}

.answer {
  padding: 20px 8px 0 0;
  display: none;
  cursor: pointer;
  text-align: left;
  animation: 0.8s show ease;
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.94px;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.questions-form {
  padding: 49px 11px 60px 40px;
}

.questions-form .input {
  margin-bottom: 8px;
}

input::placeholder {
  font-family: Involve, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  text-align: left;
  color: #692F6C; /* Задайте желаемый цвет текста плейсхолдера здесь */
}

.question-form {
  padding: 49px 36px 60px 40px;
  width: 599px;
  height: 702px;
  border-radius: 65px;
}

.questions-form .input {
  border: 1px solid #692F6C;
}

textarea {
  width: 523px;
  height: 132px;
  padding: 21px;
  border-radius: 33px;
  border: 1px solid #692F6C;
  font-family: Involve, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  text-align: left;
  color: #423A2F;
}

textarea::placeholder {
  color: #692F6C;
}

/* Hide the default checkbox */
.input-custom[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid #692F6C;
  background: transparent;
  outline: none;
  cursor: pointer;
}

/* Style the custom checkbox icon */
.input-custom[type=checkbox]:checked {
  background: url(/public/img/icons/icon-check.svg) no-repeat center;
}

.input-box {
  margin: 16px auto 10px;
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
}

.header {
  padding: 88px 46.15px 16px 27px;
  height: 185px;
  background: url(../../../public/img/header/bg.png) no-repeat center;
  background-size: cover;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}

.header-row {
  width: 1350px;
  background: url(../../../public/img/header/bg-row.png) no-repeat center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 86px 16px 67px;
  color: #ffffff;
  margin: 0 auto;
}

.header-box {
  display: flex;
  column-gap: 81px;
  align-items: center;
}

.header-box:first-child {
  column-gap: 18px;
}

.menu {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.menu-item {
  display: flex;
  font-family: "Involve", sans-serif;
  column-gap: 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  text-align: left;
  text-transform: uppercase;
  align-items: center;
}

.item-icon {
  display: block;
  width: 12px;
  height: 8.92px;
  background: url(../../../public/img/icons/arrow-down.png) no-repeat center;
  background-size: cover;
}

.menu-list {
  position: absolute;
  display: none;
}

.link-phone {
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  text-align: left;
  color: #ffffff;
}

.logo-text {
  font-family: "NK133", sans-serif;
  color: #F5E0C7;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
}

.logo {
  position: absolute;
  top: -62px;
  left: 50%;
  transform: translateX(-50%);
}

.logo img {
  width: 206px;
}

.header-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
}

.header-text p:first-child {
  margin-bottom: 12px;
}

.social {
  display: flex;
  column-gap: 12px;
}

.footer {
  position: relative;
  background: #692F6C;
  height: 92px;
}

.section-description {
  padding: 45px 0 101px;
  background: yellowgreen;
}

.description {
  display: flex;
  column-gap: 65px;
}

.description-content {
  width: 519px;
  padding: 26px 0 15px;
}

.subtitle {
  font-family: "NK133", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
}

.description-list {
  margin-top: 49px;
}

.list-item {
  display: flex;
  column-gap: 6px;
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.arrow-right {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../../../public/img/icons/arrow-right.svg) no-repeat center;
  background-size: cover;
}

.description-text {
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.62px;
}

.box-contacts {
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-map {
  display: flex;
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #692F6C;
  line-height: 18.62px;
  text-align: left;
  align-items: center;
}

.icon-element {
  display: block;
  width: 37px;
  height: 37px;
  background: url(../../../public/img/icons/icon-element.svg) no-repeat center;
  background-size: cover;
}

.form {
  position: relative;
  padding: 36px 74px 76px 74px;
  border-radius: 65px;
  background: #F5E0C7;
}

.description-image {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.form-title {
  margin-bottom: 32px;
}

.form-desc .input {
  margin-bottom: 8px;
}
.form-desc .input:last-child {
  margin-bottom: 0px;
}

.input {
  width: 100%;
  padding: 17.5px 21px;
  color: #692F6C;
  background: #ffffff;
  border-radius: 90px;
}

.input:last-child {
  margin-bottom: 0;
}

.section-custom {
  position: relative;
  padding: 100px 0;
}

.custom-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -5;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}
.custom-image img {
  width: 100%;
  height: 618px;
  border-radius: 24px;
}

.custom {
  padding: 52px 62px 65px 95px;
  border-radius: 65px;
  background: #ffffff;
}

.custom-row {
  display: flex;
  column-gap: 41px;
  margin-bottom: 35px;
}

.custom-content {
  width: 50%;
}

.custom-content .subtitle {
  margin-bottom: 22px;
}

.custom-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.custom-box {
  margin-bottom: 20px;
}

.box-link {
  display: block;
  padding: 7px 29px;
  width: 520px;
  height: 34px;
  background: url(../../../public/img/header/bg-row.png) no-repeat center;
  background-size: contain;
  color: #ffffff;
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 23.94px;
  margin-bottom: 12px;
}

.box-item {
  display: flex;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #423A2F;
}
.box-item .arrow-right {
  margin-right: 6px;
}

.custom-desc {
  width: 50%;
}
.custom-desc .title-3 {
  text-align: left;
}

.custom-text {
  margin-top: 32px;
}

.custom-text:nth-of-type(2) {
  margin-bottom: 32px;
}

.consult-form {
  margin-top: 8px;
}
.consult-form .input {
  width: 288px;
  height: 54px;
  padding: 8px 21px 8px 21px;
  border-radius: 90px;
  border: 1px solid #692F6C;
}

.form-row {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.custom-text {
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
}

.custom-text:nth-of-type(2) {
  font-weight: 400;
}

.section-products {
  padding: 66px 0 44px;
  background: #ffffff;
}

.products-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 26px;
  border-radius: 31px;
  background: #692F6C;
}

.products-title {
  color: #F5E0C7;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  text-transform: uppercase;
}

.products-btns {
  display: flex;
  column-gap: 31px;
  color: #ffffff;
}

.product-btn {
  display: flex;
  column-gap: 6px;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  cursor: pointer;
}

.icon-check {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffffff;
  align-items: center;
}

.icon-img {
  display: block;
  width: 14px;
  height: 14px;
  opacity: 0;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.icon-img {
  display: block;
  width: 14px;
  height: 14px;
}

.products-contact {
  display: flex;
  column-gap: 12px;
  align-items: center;
}

.products-cards {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.product-card {
  position: relative;
  background: #FCF7F7;
  width: 256px;
  height: 398px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  text-align: center;
}

.product-image {
  width: 256px;
  height: 138px;
}
.product-image img {
  width: 256px;
  height: 138px;
  object-fit: cover;
  border-radius: 24px;
}

.product-content {
  padding: 16px 17px 35px 16px;
}

.product-name {
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  color: #692F6C;
}

.product-list {
  margin-top: 11px;
}

.product-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.species {
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  color: rgba(82, 68, 49, 0.56);
}

.look {
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  font-family: "Involve", sans-serif;
  color: #692F6C;
}

.product-size {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  color: rgba(82, 68, 49, 0.56);
}

.product-card__button-wrapper {
  margin-top: 6px;
  text-align: center;
}

.product-card__btn {
  color: rgb(42, 171, 238);
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 18.62px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  cursor: pointer;
}

.product-stock {
  position: absolute;
  width: 101px;
  height: 29px;
  top: 24.29px;
  left: 14px;
  padding: 5px 14.5px;
  border-radius: 38px;
  background: #692F6C;
  font-family: "Involve", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  color: #F5E0C7;
  display: none;
}

.product-order {
  position: absolute;
  width: 101px;
  height: 29px;
  top: 24.29px;
  left: 14px;
  padding: 5px 14.5px;
  border-radius: 38px;
  background: rgb(255, 255, 255);
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
  color: #692F6C;
  display: none;
}

.product-review {
  position: absolute;
  top: 16px;
  right: 11.89px;
  cursor: pointer;
}

.product-density {
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  color: #692F6C;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.product-1, .product-2, .product-3 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  background: yellow;
}

.row-1 {
  display: flex;
  width: 100%;
  background: red;
  gap: 16px;
  margin-bottom: 19px;
}

.row-2 {
  display: flex;
  width: 100%;
  background: blue;
  gap: 16px;
}

.row-3 {
  display: flex;
  width: 100%;
  background: rgb(0, 255, 170);
}

.product-title {
  position: relative;
  padding: 14.5px 38px;
  display: flex;
  justify-content: space-between;
  background: rgb(252, 247, 247);
  border-radius: 33px;
}

.row-line {
  width: 300px;
  height: 50px;
  position: absolute;
}

.product-title .row-line::before {
  position: absolute;
  top: 50%;
  right: -30px;
  content: "";
  width: 50px;
  height: 5px;
  background: red;
}

.title-box {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.product-link {
  font-family: Involve, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 18.62px;
  text-align: left;
  color: rgb(42, 171, 238);
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.product-header {
  color: rgb(66, 58, 47);
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  line-height: 18.62px;
}

.products-content {
  margin-bottom: 77px;
}

.content-title {
  font-family: Involve, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 37.24px;
  text-align: center;
  color: #692F6C;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.content-text {
  margin-top: 16px;
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #423A2F;
}

#content1, #content2, #content3 {
  display: none;
}

#content3 {
  display: block;
}

.form-wrapper {
  display: flex;
  column-gap: 59px;
}

.form-desc {
  width: 504px;
}

.form-content {
  width: 595px;
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #423A2F;
}
.form-content p {
  margin-bottom: 18px;
}

.form-content p:nth-child(2) {
  font-weight: 400;
}

.custom-all {
  font-family: "Involve", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  color: #423A2F;
  margin-bottom: 10px;
}

.section-advantages {
  padding: 79px 0;
}

.advantages .title-2 {
  text-align: center;
}

.advantages-boxes {
  display: flex;
  gap: 26px;
  margin: 33px auto;
}

.advantages-box {
  width: 322px;
  height: 420px;
  border-radius: 36px;
  background: #692F6C;
}

.advantages-image {
  height: 195px;
}

.advantages-img {
  height: 195px;
  width: 322px;
  border-radius: 36px;
}

.advantages-text {
  padding: 25px 27px 50px 22px;
  color: #F5E0C7;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  width: 322px;
}

.advantages-text p {
  width: 260px;
}

.advantages-text p:first-child {
  margin-bottom: 12px;
}

.advantages-content {
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-align: center;
}

.section-cooperation {
  padding: 33px 0;
  position: relative;
}

.cooperation-content {
  background: #ffffff;
  border-radius: 65px;
  border: 1px solid red;
  padding: 47px 97px;
}

.cooperation-title {
  font-family: NK133;
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin-bottom: 16px;
}

.cooperation-text {
  font-family: "Involve", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-align: center;
  color: #423A2F;
  margin-bottom: 28px;
}

.cooperation-box {
  display: flex;
  column-gap: 61px;
}

.cooperation-contacts {
  display: flex;
  align-items: flex-end;
  column-gap: 18px;
}

.section-image {
  position: absolute;
  bottom: -50px;
  width: 100%;
  height: 252px;
  border-radius: 36px;
  background-image: url(../../../public/img/header/bg.png);
  background-size: cover;
  z-index: -5;
}

.section-sale {
  position: relative;
}

.sale {
  position: relative;
  background: #F5E0C7;
}

.sale-buttons {
  padding: 23px 167px;
  display: flex;
  background: #692F6C;
  border-radius: 31px;
  font-family: Involve, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.62px;
  column-gap: 128px;
}

.sale-btn {
  color: #ffffff;
}

.sale-content {
  padding: 47.5px 43px 73px 43px;
}

.sale-content1 {
  padding: 21px 100px;
  text-align: center;
}

.sale-form {
  margin-top: 26px;
  text-align: left;
}

.sale-form .input-box {
  justify-content: flex-start;
}

.form-box {
  display: flex;
  column-gap: 18px;
}

.sale-content1 .title-3 {
  margin: 26px auto 16px;
}
.sale-content1 .title-3:last-child {
  margin-top: 33px;
}

.slider__arrow-left {
  width: 73px;
  height: 73px;
  background: #423A2F;
  border-radius: 50%;
  border-radius: 2px solid #ffffff;
}

.arrow-next, .arrow-prev {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 73px;
  height: 73px;
  background: #423A2F;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.arrow-next {
  right: -30px;
  top: 50%;
}

.arrow-prev {
  left: -30px;
  top: 50%;
}

.sale-btn {
  display: flex;
  column-gap: 6px;
  align-items: center;
  cursor: pointer;
}
.sale-btn:hover {
  color: #F5E0C7;
}
.sale-btn:hover .icon-arrow {
  background: #F5E0C7;
}

.btn-active {
  color: #F5E0C7;
}
.btn-active .sale-arrow {
  background: #F5E0C7;
}

.sale-custom {
  margin-bottom: 34px;
}

.slider-img {
  width: 589px;
  height: 385px;
  border-radius: 24px;
}

.icon-arrow {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffffff;
}

.sale-image {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.sale-content {
  padding: 47px 55px 124.5px 43px;
  display: flex;
  column-gap: 49px;
}

.slider {
  position: relative;
}

.sale-desc .title-2 {
  font-size: 28px;
}
.sale-desc .box-contacts {
  margin-top: 10px;
}

.sale-text {
  margin-bottom: 10px;
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.94px;
}

.sale-list {
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.94px;
}

#sale-content4 {
  display: block;
}

#sale-content1, #sale-content2, #sale-content3 {
  display: none;
}

.section-benefit {
  position: relative;
}

.benefit-boxes {
  display: flex;
}

.benefit-column {
  width: 30%;
}

.benefit-row {
  display: flex;
}

.benefit-buttons {
  display: flex;
  column-gap: 10px;
  margin-bottom: 37px;
}

.benefit-description {
  display: flex;
  column-gap: 36px;
  padding: 48px 56px 52px 74px;
  border-radius: 65px;
  background: #ffffff;
}

#benefit-content1, #benefit-content2, #benefit-content3 {
  display: none;
}

.benefit-list .title-3 {
  margin-bottom: 16px;
}

.benefit-text {
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-align: left;
  margin-bottom: 18px;
}
.benefit-text:last-child {
  margin-bottom: 0;
}

.section-questions {
  padding: 75.5px 0 69px;
}

.questions-cards {
  display: flex;
  column-gap: 22px;
  margin-bottom: 108.5px;
}

.question-card {
  width: 321px;
  height: 295px;
}

.questions-content {
  display: flex;
  column-gap: 45px;
}

.section-shipment {
  padding: 84px 0 51px 0;
}

.shipment {
  display: flex;
  flex-direction: column;
  gap: 42px;
  max-width: 1160px;
}

.shipment-box .title-3 {
  margin-bottom: 16px;
}

.shipment-text {
  text-align: center;
  margin-bottom: 29px;
  font-family: Involve, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.94px;
  text-align: center;
}

.section-contacts {
  position: relative;
  padding-top: 64.5px;
}

.element-image {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.contacts {
  padding: 140px 222px 88px 130px;
  display: flex;
  justify-content: space-between;
  background: #F5E0C7;
  border-top-right-radius: 36px;
  border-top-left-radius: 36px;
}

.contacts-content .title-3 {
  margin-bottom: 16px;
  text-align: left;
}

.contact-img {
  width: 619px;
  height: 259px;
  border-radius: 36px;
}

/*# sourceMappingURL=style.css.map */
